@import '../../themes/color';

:host {
  padding: 0 40px;
  .menu-common {
    padding: 0 20px;
    .lbl {
        font-size: smaller;
        margin: 8px 0;
        color: grey;
        min-height: 16px;
      
    }
    .lbl.lbl-num-select {
      
    }
    button {
      width: 100%;
    }
  }
  .menu {
    padding: 0 20px;
    ul {
      list-style: none;
      padding: 8px;
      li {
        cursor: pointer;
        margin-bottom: 10px;
        color: $primary-color;
        span {
          margin-left: 8px;
        }
      }
    }
  }
}
