@import "../../themes/color";
:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  flex: 1;
}

.header {
  padding: 0 40px;
}

.content {
  display: flex;
  flex: 1;
  width: 100%;
}

.right-menu {
  min-width: 250px;
}

.board {
  flex: 1;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  table {
    border-collapse: collapse;
    width: 100%;
    thead {
      font-size: small;
      th {
        font-weight: lighter;
        color: gray;
      }
      .table-row {
        height: 40px;
      }
    }
    tbody {
      tr {
        cursor: pointer;
      }
      .table-row {
        height: 72px;
      }
    }
    .table-row {
      border-bottom: 1px rgba(128, 128, 128, 0.3) solid;
      padding: 8px 0;
    }
    th {
      text-align: left;
    }
    th:nth-child(1) {
      text-align: center;
      width: 30px;
    }
    th:nth-child(2) {
      text-align: left;
      width: 35%;
    }
    th:nth-child(5) {
      text-align: right;
      width: 135px;
    }
    tr {
      .td-check {
        text-align: center;
      }
      .td-name .content {
        display: flex;
        align-items: center;
      }
      .content {
        img {
          height: 32px;
        }
        .name {
          padding: 0 10px;
        }
        i {
          display: none;
          cursor: pointer;
          margin-left: 4px;
        }
        .name-input {
          padding: 0 10px;
          width: calc(100% - 20px);
          input {
            padding: 4px 8px;
            font-size: 14px;
            border-radius: 4px;
            border: 1px solid grey;
            width: calc(100% - 20px);
          }
          input:focus {
            border-color: $primary-color;
            box-shadow: 0;
          }
        }
      }
      .check-box {
        display: none;
      }
      .check-box.show {
        display: block;
      }
      .td-actions {
        padding-right: 10px;
        text-align: right;
        button:nth-child(1) {
          display: none;
        }
        button:nth-child(2) {
          border: none;
        }
        button:hover {
          border-color: $primary-color;
          color: $primary-color;
        }
      }
    }
    tr:hover {
      .check-box {
        display: block;
      }
      .td-name {
        color: $primary-color;
        i {
          display: inline-block;
        }
      }
      .td-actions {
        button {
          display: inline-block;
        }
        button:nth-child(2) {
          border: 1px $primary-color solid;
        }
      }
    }
  }
  .progress {
    background-color: rgba(192, 229, 150, 0.55);
    border-radius: 5px 5px 0 0;
    width: 100%;
    h5 {
      margin: 8px;
    }
    align-items: flex-end;
  }
}

.view-layout {
  cursor: pointer;
  display: inline;
}
