:host {
    display: flex;
    justify-content: flex-end;
    width: 100%;
   
}

.title {
    flex: 1;
    display: flex;
    padding-left: 40px;
    
}
mat-list {
    display: block;
    position: absolute;
    background-color: white;
    width: calc(100% - 15px);
    margin-top: 8px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 4px 0;
    mat-list-item {
        padding: 0 16px;
        display: flex;
        align-items: center;
        img {
            height: 24px;
            margin-right: 8px;
        }
    }
}
.header {
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding: 10px 20px;
    .search {
        position: relative;
        > .fa {
            left: 8px; 
            top: 8px;
            position: absolute;
        }
    }

    input {
        height: 32px;
        border-radius: 16px;
        border: 1px solid gray; 
        padding: 0 24px;
        padding-right:8px;
        align-items: center;
        margin-right: 15px;
        font-size: smaller;
        width: 300px;
        -webkit-transition: width 0.2s;
        transition: width 0.2s;
    }

    // input[type="search"]:focus {
    //     border-color: cornflowerblue;
    //     outline: none;
    //     width: 500px;
    // }
    > .fa {
        align-items: center;
        margin-right: 15px;
        font-size: 20px;
        padding-top: 4px;
    }
    .avatar {
        cursor: pointer;
        align-items: center;
        img {
            height: 32px;
        }
    }
}
