<div class="title">
  <app-navigation [routes]="routes"></app-navigation>
</div>

<div class="header">
  <div class="search">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input type="search" placeholder="Search" [(ngModel)]="keyword" (ngModelChange)="onChange($event)">
    <mat-list *ngIf="results.length > 0">
      <div class="ps" style="position: relative; max-height: 400px;" [perfectScrollbar]="config">
        <mat-list-item style="cursor: pointer;" [routerLink]="['/search']" [queryParams]="{keyword: keyword}">
           <p> <i class="fa fa-search" style="margin: 0 8px;"></i> View all result for <strong>{{keyword}}</strong></p>
        </mat-list-item>
        <mat-list-item *ngFor="let file of results">
          <img [src]="'assets/filetypes/' + file.type + '.png'" alt="">
          <h4 mat-line>{{file.name}}</h4>
        </mat-list-item>
      </div>
    </mat-list>
  </div>
  <i class="fa fa-bell-o" aria-hidden="true"></i>
  <div class="avatar" [matMenuTriggerFor]="menu">
    <img src="assets/user.png" alt="">
  </div>
  <mat-menu class="menu-popup" [overlapTrigger]="false" xPosition="before" yPosition="above" #menu="matMenu">
    <div class="avatar">
      <img src="assets/user.png" alt="">
      <h4 for="">Janeto Traning Center</h4>
    </div>
    <hr>
    <div class="storage">
      <div>
        5.43 MB of 200GB used
      </div>
      <p>
        Upgrade</p>
    </div>
    <hr>
    <button mat-menu-item>
      <span>Setting</span>
    </button>
    <button mat-menu-item>
      <span>Sign out</span>
    </button>
  </mat-menu>
</div>
