:host {
    display: flex;
}

.routes {
  display: flex;
  align-self: center;
}
.multi {
    align-items: center;
    i {
        margin: 0 8px;
    }
    img {
        height: 32px;
        cursor: pointer;
    }
}
mat-menu {
    img {
        height: 24px;
    }
}
h3 {
  cursor: pointer;
  margin: 0;
  align-self: center;
  font-weight: normal;
  margin-right: 6px;
}

h3:last-child {
    i {
        display: none;
    }
}
