<div class="routes" *ngIf="routes.length > 0 && routes.length < 4">
  <h3 *ngFor="let item of routes" [routerLink]="['/home/' + item.id]">{{item.name | uppercase}} <i class="fa fa-angle-right" aria-hidden="true"></i></h3>
</div>
<div class="routes multi" *ngIf="routes.length >= 4"> 
  <img [matMenuTriggerFor]="menu" src="assets/filetypes/folder.png" alt=""> <i class="fa fa-angle-right" aria-hidden="true"></i>  <h3 [routerLink]="['/home/' + lastRoute.id]">{{lastRoute.name | uppercase}}</h3>
</div>
<mat-menu class="menu-navigation-popup" [overlapTrigger]="false" xPosition="after" yPosition="above" #menu="matMenu">
    <button *ngFor="let item of routes" mat-menu-item [routerLink]="['/home/' + item.id]">
      <img  src="assets/filetypes/folder.png" alt="">
      <span> {{item.name}}</span>
    </button>
  </mat-menu>