:host {
    display: flex;
    height: 100vh;
}

.cover {
    background: #61082b;
    flex: 6;
}

.container {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    width: 70%;
}

.form form {
    display: flex;
    flex-direction: column;
    font-size: smaller;
}

input[type="text"], input[type="password"], input[type="email"]{
    padding: 8px;
    margin: 4px 0;
    font-size: smaller;
}


button {
    padding: 8px;
    margin: 4px 0;
    font-size: smaller;
    border: 0;
    color: white;
}
.btn-signup {
    background: #0061ff;
}
.checkbox {
    margin-bottom: 20px;
}
