<div class="cover">

</div>
<div class="container">
  <div class="form">
    <h2>Sign up</h2>
    or
    <a href="/">sign in to your account</a>
    <form action="">
      <input type="text" placeholder="First name">
      <input type="text" placeholder="Last name">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <div class="checkbox inline">
        <input type="checkbox">
        <label for="">I agree to the Terms</label>
      </div>
      <button class="btn-signup">
        Sign up
      </button>
      <button class="btn-google">
        Sign up with Google
      </button>
    </form>
  </div>
</div>