@import "../../themes/color";
:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  flex: 1;
}

.content {
  display: flex;
  flex: 1;
  width: 100%;
}

.board {
  flex: 1;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}

.right-menu {
  min-width: 300px;
}
