/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "~ng2-toastr/bundles/ng2-toastr.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/themes/color";
@font-face {
  font-family: "AtlasGrotesk";
  font-weight: bold;
  src: url("./assets/fonts/AtlasGrotesk-Bold-Web.woff2");
}

@font-face {
  font-family: "AtlasGrotesk";
  font-weight: normal;
  src: url("./assets/fonts/AtlasGrotesk-Medium-Web.woff2");
}

@font-face {
  font-family: "AtlasGrotesk";
  font-weight: initial;
  src: url("./assets/fonts/AtlasGrotesk-Regular-Web.woff2");
}

toast-container {
  .toast-error {
    background-image: none !important;
    border: 1px solid #e2a8a8 !important;
    background-color: #fef1f1 !important;
    color: #D46D6D !important;
  }
  .toast {
    padding: 10px 50px !important;
    text-align: center;
    min-width: 400px !important;
  }
}

body {
  margin: 0;
  font-family: 'AtlasGrotesk';
  font-size: 14px;
  button:focus {
    outline: 0;
  }
}

.menu-navigation-popup {
  button {
    align-items: center;
    display: flex;
  }
  img {
    height: 24px;
    margin-right: 8px;
  }
}

.mat-checkbox-inner-container {
  width: 15px !important;
  height: 15px !important;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn.btn-primary {
  background-color: $primary-color;
  color: white;
}

.btn.btn-default {
  background: transparent;
  color: grey;
  border: 1px grey solid;
}

.menu-popup {
  .avatar {
    padding: 16px;
    img {
      height: 48px;
      display: block;
    }
    h4 {
      margin: 8px 0;
      display: block;
    }
  }
  .storage {
    padding: 16px;
    p {
      margin-bottom: 0;
    }
  }
  hr {
    border-color: whitesmoke;
    margin: 8px 20px;
  }
}

.custom-dialog {
  .header {
    padding: 16px 0;
    h5 {
      margin: 0;
    }
  }
  .content {
    padding: 16px 0;
  }
  .actions {
    text-align: right;
    button {
      margin-left: 8px;
    }
  }
}
