<div class="custom-dialog">
    <div class="header">
      <h5>Delete file?</h5>
    </div>
    <div class="content">
      <p>
        Are you sure you want to delete {{file.name}} from your JTC Share?
      </p>
    </div>
    <div class="actions">
      <button class="btn btn-primary" (click)="done()">Delete</button>
      <button class="btn" (click)="onNoClick()">Cancel</button>
    </div>
</div>